.carte-liflet {
  .card-pointer {
    width: 120px;
    text-align: center;
    p {
      font-weight: bold;
      margin-bottom: 5px;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .leaflet-marker-pane {
    width: 130px;
    z-index: 700;
  }

  .leaflet-popup-content-wrapper:hover{
    cursor: pointer;
    background: linear-gradient(
      to bottom,
      rgb(196, 196, 196) 0%,
      rgba(170, 170, 170, 0.45) 30%,
      rgba(170, 170, 170, 0.45) 70%,
      rgb(196, 196, 196) 100%
    );
  }
}
